.container-detailed {
	width: 100%;
	padding-top: 60px;
	text-align: center;
}

.col {
	margin: 0 auto;
}

button.btn.btn-outline-primary {
	border-radius: .625rem;
}

.row {
	width: 100%;
	justify-content: center;
}